.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .top {
    margin-top: 6rem;
    img {
      width: 53%;
      margin-left: 5.75rem;
    }
    h1 {
      font-size: 5rem;
      color: #fff;
      text-align: center;
    }
  }
  .bottom {
    margin-top: 1rem;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    .feature {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 25vh;
      width: 50%;
      padding: 1rem;
      color: white;
      background-color: rgba(254, 153, 153, 0.3);
      backdrop-filter: blur(3px);
      border-radius: 10px;
      .first {
        font-size: 1.3rem;
        word-spacing: 0.8em;
        margin-top: auto;
      }
      .second {
        margin-top: auto;
        font-size: 1.2rem;
        word-spacing: 0.3em;
      }
      span {
        margin-top: auto;
        font-size: 1.5rem;
        letter-spacing: 0.4em;
        font-weight: 600;
      }
      button {
        cursor: pointer;
        margin-top: auto;
        width: 12rem;
        height: 2rem;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.1em;
        border-radius: 4px;
        border: none;
        transition: all 0.3s ease;
        &:hover {
          background-color: rgba(254, 153, 153, 0.5);
        }
      }
    }
  }
}
