.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  height: 3.5rem;
  color: white;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.1) 0%,
    rgba(217, 217, 217, 0.3) 100%
  );
  z-index: 999;
  backdrop-filter: blur(2px);

  .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    font-size: 25px;
    font-weight: 600;

    p {
      margin: 0 25px;
      color: #ffcece;
    }
  }

  .right {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      font-weight: 600;
      font-size: 18px;
      margin: 0 30px;

      li {
        margin: 0 30px;
      }
    }
  }
}
