.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  height: 3.5rem;
  // background: linear-gradient(
  //   180deg,
  //   rgba(217, 217, 217, 0.1) 0%,
  //   rgba(217, 217, 217, 0.3) 100%
  // );
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 999;
  backdrop-filter: blur(5px);

  .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
    font-size: 25px;
    font-weight: 600;

    .logo {
      height: 1.5rem;
      border-radius: 4px;
    }

    p {
      margin: 0 1rem;
      color: #ffcece;
    }
  }

  .right {
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      font-weight: 500;
      font-size: 18px;
      margin: 0 30px;

      li {
        margin: 0 30px;
        padding: 0.2rem 0;
      }
    }
  }
}
